<h2>Personal Information</h2>
<%= form_for @profile do |f| %>
	<%= f.label :age, 'Age' %>
	<%= f.number_field :age, in: 0..150, step: 1 %>

	<br />

	<%= f.submit 'Update Personal Information' %>
<% end %>

<h2>Location Information</h2>
<%= form_for @location, url: edit_profile_location_path, method: 'POST', remote: true do |f| %>
	<%= f.label :city, 'City' %>	
	<%= f.text_field :city %>

	<br />

	<%= f.label :state, 'State' %>	
	<%= f.text_field :state %>

	<br />

	<%= f.label :country, 'Country' %>	
	<%= f.text_field :country %>

	<br />
	
	<%= f.submit 'Save Location Information' %>
<% end %>