<!DOCTYPE html>
<html>
	<head>
	  <title>Huckleberry</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

	<% unless params[:controller] == "landing" %>
		<%= render "shared_partials/navbar_default" %>
	<% end %>

	<div class="container">
		<div class="unobtrusive-flash-container"></div>
		<%= yield %>
	</div>

	</body>
</html>
